.CreateStep_inner{
  background-color: #fdfdfd;
  border-radius: 8px;
  padding: 24px;
}


/* CreatorStep1 */
.CreateStep1 button{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s;
}
.CreateStep1-img{
  width: 150px;
  margin-top: 56px;
}

.CreateStep_inner h2{
  font-size: 32px;
  margin-bottom: 16px;
}
.CreateStep1_box1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}
.CreateStep1_box1 input{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #544E45;
}
.CreateStep1_box1 button{
  border: 3px solid #FFB534;
  background: #FFB534;
}
.CreateStep1_box1 button:hover{
  background:rgba(255,181,52,0.6);
}
.CreateStep1_box2 button{
  width: 100%;
  border: 3px solid #FFB534;
  background: #FBF6EE;
}
.CreateStep1_box2 button:hover{
    background:#65B741;
  border-color: #65B741;
  color: #fdfdfd;
}