.CreateStep_inner{
  background-color: #fdfdfd;
  border-radius: 8px;
  padding: 24px;
}
.CreateStep_inner h3{
  font-size: 24px;
  margin-bottom: 16px;
}
.CreateStep_inner button{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s;
}

.CreateStepbutton{
  border: 3px solid #FFB534;
  background: #FFB534;
  width: 100%;
}
.CreateStepbutton:hover{
  background:rgba(255,181,52,0.6);
}
.CreateStep_inner input{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #544E45;
}

.CreateStep_inner select{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #544E45;
}

.CreateStep_tex1{
  font-size: 14px;
  width: 80%;
  text-align: left;
  margin: 0 auto 56px;
}




/* CreatorStep1 */
.CreateStep-img{
  width: 130px;
  margin-top: 56px;
}

.CreateStep_inner h2{
  font-size: 32px;
  margin-bottom: 16px;
}
.CreateStep1_box1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}

.CreateStep1_box2 button{
  width: 100%;
  border: 3px solid #FFB534;
  background: #FBF6EE;
}
.CreateStep1_box2 button:hover{
    background:#65B741;
  border-color: #65B741;
  color: #fdfdfd;
}


/* CreatorStep2 */

.CreateStep2_box1{
  margin-bottom: 56px;
}
.CreateStep2_box1 li:not(:last-of-type){
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
.CreateStep2_box1 li img{
  width: 100px;
}
.CreateStep2_box1 li p{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.CreateStep2_box1 li input{
  transform: scale(1.2); 
  margin-left: 24px;
  margin-right: 3px; 
}
.CreateStep2_box1 li label{
  font-size: 18px;
}


/* CreatorStep3 */
.CreateStep3_title{
  display: flex;
  align-items: center;
}
.CreateStep3_title img{
  width: 100px;
  margin-bottom: 16px;
}
.CreateStep3_list li{
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 8px;
}
.CreateStep3_list input{
  transform: scale(1.2); 
  }
.CreateStep3_list p{
  font-size: 18px;
  font-weight: bold;
}
.CreateStep3_box1,.CreateStep3_box2,.CreateStep3_box3{
  padding-bottom: 36px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
}

.CreateStep3_box4{
  background: #FBF6EE;
  border-radius: 8px;
  padding: 24px 10px;
  margin-bottom: 36px;
}
.CreateStep3_box4 h4{
  font-size: 18px;
  text-align: left;
}
.CreateStep3_box4_item1,.CreateStep3_box4_item2{
  margin-bottom: 24px;
}
.CreateStep3_box4 input{
  width: 100%;
}

.CreateStep3_box4_button_area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 24px;
}
.CreateStep3_box4_button1{
  background: #C1F2B0;     
  border: 3px solid #65B741;
}
.CreateStep3_box4_button1:hover{
  background: #E1FFD7;
}
.CreateStep3_box4_button2{
  background: #fdfdfd;
  color: #65B741;
  border: 3px solid #65B741;
}
.CreateStep3_box4_button2:hover{
  background: #65B741;
  color: #fdfdfd;
}
.CreateStep4 select{
  margin-bottom: 24px;
}
.introduction_url{
    width: 80%;
  text-align: left;
  margin: 0 auto 56px;
  color: #65B741;
}