/* Header_menu */
.HeaderTop{
  padding: 3px 0;
  height: 75px;
}
.HeaderTop_Host{
  background: var(--color-accent);
}
.header_app_title{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background:rgba(253,253,253,0.6);
   padding: 0 1em;   
  border-radius: var(--radius-md);
  margin-bottom: var(--space-xs);
}
.header_app_title img{
  width: 30px;
}
.header_app_title h1{
  margin: 0;
  font-size: var(--font-sm);
}
.header_mode{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_mode img{
  width: 25px;
}
.header_mode h2{
 font-size: var(--font-sm);
}



.HeaderBottom{
  position: relative;
  padding: var(--space-xs) 0;
  height: 60px;
}
.HeaderBottom_Host{
  background: #FFD386;
}
.HeaderBottom .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* トグルボタン */
.MenuToggle{
  position: relative;
  width: 45px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  z-index: 101;
}
.MenuToggle span{
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: #544E45;
  transition: all 0.5s;
  position: absolute;
  right: 20%;
}
.MenuToggle span:nth-child(1){
  top: 25%;
}
.MenuToggle span:nth-child(2){
  top: 50%;
}
.MenuToggle span:nth-child(3){
  top: 75%;
}
.open.MenuToggle span:nth-child(1){
  transform: rotate(-45deg);
  top: 50%;
}
.open.MenuToggle span:nth-child(2){
  opacity: 0;
}
.open.MenuToggle span:nth-child(3){
  transform: rotate(45deg);
  top: 50%;
}


.Toggle_mode{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em; 
  border-radius: var(--radius-md);
  transition: all 0.5s;
  width: 180px;
}
.Toggle_mode_host{
  background: var(--color-brand-light);
  border: 1px solid var(--color-brand);
}
.Toggle_mode_host:hover{
  background: #E1FFD7;
}
.Toggle_mode .Toggle_mode_img{
  width: 16px;
  margin-right: 3px;
}
.Toggle_mode p{
  font-size: var(--font-sm);
}


/* ハンバーガーメニュー */
.Header_menu{
  width: 100%;
   box-sizing: border-box;
  height: calc(100vh - 70px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--color-brand-light);
  padding: 50px 10px;
  transition: all 0.5s;
    transform: translateX(-100%); /* 初期は画面外に隠す */
    opacity: 0;
    pointer-events: none;    
}
.Header_menu.open {
  transform: translateX(0); /* open クラスで表示 */
   opacity: 1;
    pointer-events: auto;  
}

.Header_menu.closed {
  transform: translateX(-100%); /* closed クラスで非表示 */
   opacity: 0;
    pointer-events: none;  
}

.Header_menu_list>li{
display: inline-flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 60%;
margin-bottom: var(--space-md);
}
.Header_menu_list>li a,.header_box{
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}
.Header_menu_list li img{
  width: 45px;
  margin-right: var(--space-md);
}
.Header_menu_list_title{
  width: 80%;
  text-align: left;
}

.Header_menu_list ul>li{
  text-align: left;
  margin-bottom: var(--space-xs);
}
.Header_menu_apptitle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:5%;
  left: 50%;
  transform: translateX(-50%);
}
.Header_menu_apptitle img{
  width: 50px;
}
.Header_menu_apptitle p{
  font-size: var(--font-md);
  font-weight: bold;
}

/* footer */
footer{
  background: var(--color-text);
  color: var(--color-bg);
  padding: var(--space-xs) 0;
}
footer p{
  font-size:  var(--font-sm);;
}




/* Header_Gest */
.HeaderTop_Gest{
  background: var(--color-brand);
  color: var(--color-bg);
}

.HeaderBottom_Gest{
  background: var(--color-brand-light);
}
.HeaderBottom_Gest .container{
    justify-content: flex-end;
}
.Toggle_mode_Gest{
   background: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.Toggle_mode_Gest:hover{
  background:rgba(255,181,52,0.6);
}
