.GestStep_inner{
  margin: var(--space-md) 0;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  padding: var(--space-md);
}
.GestStep_inner h3{
  font-size: var(--font-lg);
  margin-bottom: var(--space-sm);
}
.GestStep_inner h4{
  font-size: var(--font-md);
  margin-bottom: var(--space-sm);
}
.GestStep_inner button{
  font-size: var(--font-md);
  font-weight: bold;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-md);
  transition: all 0.5s;
}

.GestStepbutton{
  border: 3px solid var(--color-accent);
  background: var(--color-accent);
  width: 100%;
}
.GestStepbutton:hover{
  background:rgba(255,181,52,0.6);
}
.GestStep_inner input{
  padding: var(--space-xs);
  border-radius:var(--radius-sm);;
  border: 1px solid var(--color-text);
}

.GestStep_inner select{
  width: 100%;
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-text);
}

.GestStep_tex1{
  font-size:  var(--font-sm);
  width: 80%;
  text-align: left;
  margin: 0 auto var(--space-lg);
}
.GestStep_stepimg{
  margin-bottom: var(--space-sm);
}


/* GestStep1 */
.GestStep1_button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
.GestStep1_button:not(:last-of-type){
  margin-bottom: var(--space-sm);
}
.GestStep1_button_box{
  display: flex;
  align-items: center;
}
.GestStep1_button_ingredientimg{
  width: 120px;
  margin-right: var(--space-sm);
}



/* GestStep2 */
.Geststep2_button{
  width: 100%;
  transition: all 0.5s;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-md);
  font-weight: bold;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-md);
  transition: all 0.5s;
}
.Geststep2_button:last-of-type{
  margin-bottom: 3.5rem;
}
.Geststep2_button_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Geststep2_button_box img{
  width: 1.5rem; 
  transition: all 0.5s;
}
.Geststep2_button_hide{
  max-height: 0; /* max-heightを0にする、レスポンシブ対応 */
    overflow: hidden;
    transition: all 0.3s;
}
.Geststep2_button.open .Geststep2_button_box img{
  transform: rotate(180deg);

}
.Geststep2_button.open .Geststep2_button_hide{
 margin: var(--space-xs) auto 0;
  padding-top: var(--space-xs);
    max-height: none;
    overflow: hidden;
}