#root {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto;
  text-align: center;
  color: #544E45;
}

ul{
   margin: 0;
  list-style: none;
  padding: 0;
}

.container{
  width: 100%;
  padding: 0 3%;
}

.arrow{
  width: 25px;
}


/* PC以上のときだけ制御 */
@media (min-width: 768px) {
  #root {
    max-width: 500px; /* ←タブレットやPCでは中央寄せの狭い幅 */
  }
}