#root {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto;
  text-align: center;
  color: #544E45;
  background-image: url(/public/back.png);
}

ul{
   margin: 0;
  list-style: none;
  padding: 0;
}

.container{
  width: 100%;
  padding: 0 3%;
}

.arrow{
  width: 25px;
}

.section_title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}
.section_title img{
  width: 40px;
  margin-right: 10px;
}
.section_title h3{
  font-size: 24px;
}



/* PC以上のときだけ制御 */
@media (min-width: 768px) {
  #root {
    max-width: 500px; /* ←タブレットやPCでは中央寄せの狭い幅 */
  }
}